.layerdatail {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  padding: 10px 20px;
  height: 72%;
  background-color: #fff;
}

.layerdatail h3 {
  font-family: "微软雅黑";
  color: #4088f9;
}

.layerdatail p label {
  font-weight: bold;
}

.layerdatail p span {
  color: #444;
}

.layerdatail h3 Icon {
  cursor: pointer;
  color: #444;
}