/*
 *Companyhome.js  企业用户首页
 */
/*图标大小*/
.icon_size{
    font-size: 30px;
}
.title_font{
    font-size: 22px;
}
.modelCard{
    display: none!important;
}
.scanningImg{
    width: 100%;
    z-index: 45;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.modelcircle .ant-spin-dot i{
    width: 4rem!important;
    height: 4rem!important;
    background: #00A4FF!important;
}
/*
*Companyscene.js 企业用户-场景
*/
.changjing_title{
    text-align:center;
    padding: 10px 0px;
   font-weight: bolder;
}
.cloud_data{
    padding: 13px 0px;
}
.cloud_title{
    font-weight: bold;
}
.jiYu_font{
    font-size: 10px;
}
.number_font{
    color: #E95757;
    font-weight: bolder;
    font-size: 17px;
    margin-left: 2px;
}
.line{
    padding: 10px 0px;
}
.titleColor{
    color: #85B0F9;
    font-weight: bolder;
}
.titleColor2{
    color: #CCCCCC;
    font-weight: bolder;
}
.titleColor3{
    color: #EB3332;
    font-weight: bolder;
}
.cardStyle{
    margin-left: 30px;
}
.antds_center{
    text-align: center;
}
.LANCardStyle{
    width:300px;
    margin-top:24px!important;
}
.LANCardHeaderColor{
    background:#4286F5!important;
    color:#FFFFFF!important;
}
.LANCardBorder{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.LANCardHeaderColor2{
    background:#CCCCCC!important;
    color:#FFFFFF!important;
}
.LANCardHeaderColor3{
    background:#F12C2C!important;
    color:#FFFFFF!important;
}
.LANCardHeaderColor4{
    background:#CCCCCC!important;
    color:#666666!important;
}
.LANCardHeader{
    margin-top:-20px;
    text-align:center;
    padding:10px 0px;
}
.LANCardBody{
    padding: 20px;
}
.sceneIcon{
    width: 24px;
    height: 24px;
}
.sceneIcon img{
    width: 100%;
    height: 100%;
}
.defence{
    width: 18px;
    height: 18px;
    margin-top: -4px;
}
.defence img{
    width: 100%;
    height: 100%;
}
.LANCardPosition{
    margin: 15px 15px;
}
.Lanstate{
    display: none!important;
}
.sceneLastCall{
    width:100%;
    height:195px;
    overflow:hidden;
}
.sceneLastCallLists{
    padding:10px 0px;
}
.sceneLastCallName{
    margin-top:10px;
}
.sceneLastCallImg{
    text-align: center;
}
.lastCallImg{
    width: 100%;
    height:160px;
    padding: 15px;
}
.lastCallImg img{
    width: 100%;
    height:100%;
}
.lastCallFont{
    width: 100%;
    text-align: center;
}
.slick-track{
    height:220px!important;
}
/*
*Connent.js 企业用户-关系网
*/
.fontStyle{
    font-size: 18px;
}
/*
*Dashboard.js 管理员首页
*/
.rightShift{
    margin-left: 20px;
}
.topShift{
    margin-top:15px;
}
.admin .ant-card-body,.maintenanceTeam .ant-card-body,.cloudIndex .ant-card-body,.LANCard .ant-card-body{
    margin: 0!important;
    padding: 0!important;
    border-radius: 4px;
}
.adminEchart .ant-card-body{
    border-radius: 16px!important;
}
.weiHuBorder .ant-card-body{
    border: 2px solid #5DCB9A!important;
}
.qiYe .ant-card-body{
    border: 2px solid #28B6E6!important;
}
.baoJing .ant-card-body{
    border: 2px solid #FB7575!important;
}
.personalUser .ant-card-body{
    border: 2px solid #F7C35D!important;
}
.LAN .ant-card-body{
    border: 2px solid #B292FB!important;
}
.noBorder{
    width: 100px;
    height: 100px;
    padding: 22px;
}
.noBorder img{
    width: 100%;
    height:100%;
}
.weiHuBackround{
    background: #5DCB9A;
}
.qiYeBackground{
    background:#28B6E6;
}
.baoJingBackground{
    background:#FB7575;
}
.personalUserBackground{
    background:#F7C35D;
}
.LANBackground{
    background:#B292FB;
}
.wiHuFont{
    color: #0cc2aa;
}
.qiYeFont{
    color:#28B6E6;
}
.baoJingFont{
    color:#FB7575;
}
.personalUseFont{
    color:#F7C35D;
}
.LANFont{
    color:#B292FB;
}
.adminFont{
    font-size: 25px;
    font-weight: bolder;
    padding: 4px 0px;
}
.cardBorder{
    border-radius: 4px;
}
.situation{
    margin:6px 0px;
}
.cloudUsers{
    margin:8px 0px;
}
.situationFont1{
    background:#FD624C;
}
.situationFont2{
    background: #FF9208;
}
.situationFont3{
    background: #FFC700;
}
.situationFont4{
    background: #A8A8A9;
}
.ant-card-bordered {
    border-radius: 4px!important;
}
/*省略号*/
.listContext{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.camera{
    width:20px;
    height:20px;
    text-align:center;
    color:white;
    margin:3px 0px;
}
@media screen and (min-width: 1200px) {
    .noBorder{
        width: 94px;
        height: 94px;
        padding: 26px;
    }
}
/*
*Teamhome.js 维护团队首页
*/
.sandian{
    margin-top: -4px;
}
.cloudFont{
    font-size: 19px;
}
.shareUsers{
    color:#79AAFA
}
/*
*dashboard.js 管理员首页
*/
.yueRuWang{
   width: 100%;
    height: 220px;
}
.ant-tabs-tab-active{
    color:#5E98F7!important;
}
.camera{
    width:21px;
    height: 21px;
}
.camera img{
    width:100%;
    height:100%;
}
.example .ant-input {
    width: 300px;
    margin: 0 8px 8px 0;
}