.groupLeader{
    margin-top: 20px;
}
.groupLeader-border{
    margin: 10px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #bfbdbd
}
.groupLeader .overflow{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.groupLeader-border .alarm-top{
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    border-bottom: 1px solid #dcd9d9;
}
.groupLeader .alarm-type{
    padding: 5px 10px;
}
.groupLeader .group-height{
    height: 165px;
}
.groupLeader .group-flex,.groupLeader .group-user{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.groupLeader .name{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.groupLeader .count{
    width: 23%;
    color: #ffffff;
}
.groupLeader .group-alarm{
    height: 350px;
}
.groupLeader .group-img{
    width: 96.5%;
    height: 310px;
}
.groupLeader .toDaysImg{
    width: 50%;
    height: 50%;
    display: inline-block;
    padding: 10px 17px;
}
.groupLeader .toDaysImg img{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}
.groupLeader .group-img img{
    width:100%;
    height:100%;
}
.groupLeader .group-details{
    width: 96.5%;
    height: 410px;
}
.groupLeader .untreatedAlarm{
    background: #6475F9;
}
.groupLeader .todayAlarm{
    background: #FA8068;
}
.groupLeader .userAlarm{
    background:#76BBFC ;
}
.groupLeader .alarm-number{
    font-weight: bolder;
    font-size: 20px;
    padding: 0 10px;
}
.groupLeader .misreporting{
    padding: 0 10px;
}
.groupLeader .record{
    margin-top: 10px;
    overflow: hidden;
}
.groupLeader .record-center{
    font-family: "微软雅黑";
    text-align: center;
    font-weight: bolder;
}
.groupLeader .details-title{
    font-family: "微软雅黑";
    text-align: center;
    font-weight: bolder;
    width: 10%;
}
.groupLeader .record-body{
    text-align: center;
    padding: 13px 10px;
}
.groupLeader .details-body{
    width: 10%;
    text-align: center;
    padding: 10px 0;
}
.groupLeader .groupLeader-img{
    width: 50%;
}
.groupLeader .groupLeader-img .groupLeaderName{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.groupLeader .groupIcon{
    width: 105px;
    height: 105px;
    margin: 10px auto;
}
.groupLeader .groupIcon img{
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.groupLeader .group-information{
    width: 100%;
    display: flex;
    align-items: center;
}
.groupLeader .nickname{
    font-weight: bolder;
    font-size: 22px;
    padding: 0 20px;
}
.groupLeader .todayDetails{
    width: 100%;
}