.watchIndex{
    margin-top: 20px;
}
.watchIndex .nameWeight{
    font-weight: bolder;
}
.watchIndex-border{
    margin: 10px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #bfbdbd

}
.watchIndex .group-height{
    height: 165px;
}
.watchIndex .group-flex,.watchIndex .group-user{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.watchIndex .name{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.watchIndex .untreatedAlarm{
    width: 70%;
    border:1px solid #CCCCCC;
}
.watchIndex .groupLeader-img{
    width: 50%;
}
.watchIndex .groupLeader-img .groupLeaderName{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.watchIndex .groupIcon{
    width: 105px;
    height: 105px;
    margin: 10px auto;
}
.watchIndex .groupIcon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.watchIndex .group-information{
    display: flex;
    align-items: center;
}
.watchIndex .nickname{
    font-weight: bolder;
    font-size: 22px;
}
.watchIndex .pending-list{
    height: 780px;
    overflow:hidden;
}
.watchIndex .group-alarm{
    height: 400px;
}
.watchIndex .watch-alarm{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
.watchIndex .watch-number{
    font-size: 22px;
    font-weight: bolder;
    color:#063883;
}
.watchIndex .police-Name{
    text-align: center;
    padding: 15px 10px;
}
.watchIndex .police-number{
    font-size: 18px;
    font-weight: bolder;
}
.watchIndex .listImg img{
    width: 100%;
    height: 100%;
}
.watchIndex .textCenter{
    text-align: center;
}
.watchIndex .alarmList{
    padding: 0 15px;
}
.alarmListBorder{
   box-sizing: border-box;
   padding: 11px 0;
   border-bottom:1px dashed #cecaca;
   display: flex;
   align-items: center;
}
.watchIndex .Camera{
    width: 100%;
    padding: 7px 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.watchIndex .statisticsNumber{
    margin-left: 15%!important;
}
.watchIndex .yesterdayData{
    margin-left: -20%;
}
.watchIndex .policeFont1{
    color:#7584F9;
}
.watchIndex .policeFont2{
    color:#C999FD;
}
.watchIndex .policeFont3{
    color:#FB9C89;
}
.watchIndex .policeFont4{
    color:#81C0FC;
}
.handleUpImg{
    width: 93%;
    border: 1px solid #dcd9d9;
}
.handleUpImg img{
    width: 100%;
}
.handupColor{
    color:#096dd9;
    font-weight: bolder;
}
.alarmUntreated{
    color: #FF1533;
    font-weight: bolder;
}
.watchIndex .more a{
    float:right;
    cursor:pointer;
    color: #096DD9;
    text-decoration:underline;
}
.watchIndex .more a:hover{
    color: #096DD9;
}
